* {
    box-sizing: border-box;

    /*This is because opera mobile would create a copy menu instead of calling the contextmenu event.*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
  font-family: "Cantarell", "Arial";
}

.navigation {
  list-style-type: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 30px;
}

.inactive {
  float: left;
  background-color: #E1E1E1;
}

.active {
  float: left;
  background-color: #A3A2A2;
}

.navigation a {
  padding-right: 32px;
  padding-left: 32px;
  text-decoration: none;
  color: #000000;
  font-size: 2em;
}

.textfield {
  width: 100%;
}

#send {
  float: left;
  height: 32px;
  display: inline-block;
}

#infotable {
  margin-left: 0px;
}

#send_pattern {
  margin: 20px;
  height: 60px;
  width: 200px;
  display: inline-block;
}

.infotextfields {
  margin: 20px;
  width: 100%;
}

#sucessimg {
  width: 32px;
  height: 32px;
  visibility: hidden;
}

#errormsg {
  color: red;
}

.bottlecanvas {

}

.interface_desktop {
  width: 50%;
}
.interface_mobile {
  width: 100%;
}

#hidemodal {
  float: right;
  opacity: 0.4;
}
#hidemodal:hover,
#hidemodal:focus {
    opacity: 1;
    cursor: pointer;
}

#lastcolorsdiv {
  white-space: nowrap;
  overflow-x:auto;
}

.colorindicator {
  border-radius: 8px;
  border-color: #E6E6E6;
  border-width: 4px;
  border-style: solid;
  padding: 20px;
  width: 40px;
  height: 40px;
  margin: 5px;

  display: inline-block;
}
.colorindicator-special {
  border-radius: 8px;
  border-color: #292929;
  border-width: 8px;
  border-style: solid;
  padding: 20px;
  width: 80px;
  height: 80px;
  margin: 5px;

  display: inline-block;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.fade {
  -moz-animation-duration: 0.1s;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -moz-animation-name: animatefade;
  -webkit-animation-name: animatefade;
  animation-name: animatefade;
}
@-moz-keyframes animatefade {
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes animatefade {
  from {opacity:0;}
  to {opacity:1}
}
@keyframes animatefade {
    from {opacity:0;}
    to {opacity:1;}
}

.modal {
  display: none;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: #fefefe;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.slidein {
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -moz-animation-name: animateslidein;
  -webkit-animation-name: animateslidein;
  animation-name: animateslidein;
}
@-moz-keyframes animateslidein {
  from {top: 100%; opacity:0;}
  to {top: 0; opacity:1;}
}
@-webkit-keyframes animateslidein {
  from {top: 100%; opacity:0;}
  to {top: 0; opacity:1;}
}
@keyframes animateslidein {
    from {top: 100%; opacity:0;}
    to {top: 0; opacity:1;}
}

.colordiv {
  width: 100%;
  height: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #A3A2A2;
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#rdiv {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FFFFFF , #FF0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FFFFFF, #FF0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FFFFFF, #FF0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FFFFFF , #FF0000); /* Standard syntax */
}
#gdiv {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FFFFFF , #00FF00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FFFFFF, #00FF00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FFFFFF, #00FF00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FFFFFF , #00FF00); /* Standard syntax */
}
#bdiv {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FFFFFF , #0000FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FFFFFF, #0000FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FFFFFF, #0000FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FFFFFF , #0000FF); /* Standard syntax */
}

.slider {
  display: none;
  background-color: black;
  width: 5px;
  height: 24px;
  z-index: 1;
}
