* {
    box-sizing: border-box;

    /*This is because opera mobile would create a copy menu instead of calling the contextmenu event.*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
  font-family: "Cantarell", "Arial";
}

.navigation {
  list-style-type: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 30px;
}

.inactive {
  float: left;
  background-color: #E1E1E1;
}

.active {
  float: left;
  background-color: #A3A2A2;
}

.navigation a {
  padding-right: 32px;
  padding-left: 32px;
  text-decoration: none;
  color: #000000;
  font-size: 2em;
}

.textfield {
  width: 100%;
}

#send {
  float: left;
  height: 32px;
  display: inline-block;
}

#sucessimg {
  width: 32px;
  height: 32px;
  visibility: hidden;
}

#errormsg {
  color: red;
}

.bottlecanvas {

}
